<%- include('../partials/_head', {title :'Home'}) %>
<%- include('../partials/_header') %>
<body>
    <h1>Welcome</h1>
    <a href="contestants">Contestants</a>
    <a href="events">Events</a>
</body>
<%- include('../partials/_footer') %>